#loaders{
	position: fixed;
	width: 100%;
	top: 0;
	height: 100%;
	background-color: rgba(0, 0, 0, .7);
	z-index: 9999;
}

.loaders{
	position: absolute;
	top: 50%;
	left: 50%;
    transform: translate(-50%, -50%);
}